In [19]:
import pandas_datareader as pdr  
import datetime  
import numpy as np  
vale3 = pdr.get_data_yahoo('VALE3.SA', start=datetime.datetime(2016, 10, 1), end=datetime.datetime(2020, 9, 1))

In [14]:
vale3.sample(5)

                 High        Low       Open      Close      Volume  Adj Close
Date
2017-03-20  31.889999  30.900000  31.150000  31.629999   3340900.0  27.217113
2019-02-20  46.080002  44.939999  45.900002  45.799999  25493000.0  42.827415
2017-12-04  36.980000  35.849998  35.959999  36.830002  22600100.0  32.748901
2019-01-24  56.200001  55.500000  55.799999  56.150002  14118200.0  52.505665
2017-02-13  35.849998  34.020000  34.209999  35.810001  11344600.0  30.813936

In [15]:
vale3.describe()

,High,Low,Open,Close,Volume,Adj Close
count,974.000000,974.000000,974.000000,974.000000,9.740000e+02,974.000000
mean,44.251396,43.036047,43.667279,43.639692,1.812405e+07,40.268099
std,10.806777,10.644633,10.752942,10.722215,1.323909e+07,10.891403
min,17.950001,17.559999,17.840000,17.650000,0.000000e+00,15.098835
25%,33.657499,32.682500,33.205001,33.147499,1.027838e+07,29.169914
50%,47.445000,46.259998,46.970001,46.815001,1.618220e+07,43.592493
75%,52.497500,51.274999,51.919998,51.837501,2.353615e+07,48.463711
max,63.880001,62.849998,63.410000,63.060001,1.835345e+08,60.529705

In [16]:
display(vale3.index)
display(vale3.columns)

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-13',
               '2016-10-14', '2016-10-17',
               ...
               '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-24',
               '2020-08-25', '2020-08-26', '2020-08-27', '2020-08-28',
               '2020-08-31', '2020-09-01'],
              dtype='datetime64[ns]', name='Date', length=974, freq=None)

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [23]:
vale3['2020-06-01':].head(10)

                 High        Low       Open      Close      Volume  Adj Close
Date
2020-06-01  53.849998  52.500000  52.820000  53.419998  27152300.0  51.276512
2020-06-02  53.799999  53.000000  53.799999  53.419998  25602700.0  51.276512
2020-06-03  54.340000  53.380001  53.900002  53.660000  31584300.0  51.506882
2020-06-04  55.700001  53.520000  53.720001  55.660000  37638600.0  53.426632
2020-06-05  56.700001  54.340000  56.389999  54.610001  39799100.0  52.418762
2020-06-08  55.650002  53.980000  54.980000  54.779999  27456500.0  52.581940
2020-06-09  54.990002  54.119999  54.160000  54.990002  19860000.0  52.783516
2020-06-10  55.200001  53.759998  54.910000  54.200001  24321300.0  52.025215
2020-06-12  54.049999  51.980000  53.709999  53.400002  31223700.0  51.257317
2020-06-15  54.430000  52.130001  52.500000  53.880001  27425600.0  51.718056

In [29]:
pct_c = (vale3.Close / vale3.Open).apply(lambda x: x-1)*100
display(pct_c.tail(10))

Date
2020-08-19   -1.608580
2020-08-20    1.827889
2020-08-21   -0.336483
2020-08-24    0.031777
2020-08-25   -1.878981
2020-08-26    0.145962
2020-08-27   -1.458904
2020-08-28   -0.130765
2020-08-31   -2.324056
2020-09-01    2.438211
dtype: float64

In [33]:
daily_log_returns = np.log(vale3.Close.pct_change()+1)

In [45]:
import plotly.graph_objects as go
# plotly_username = "igor.ferreira"
# plotly_key = "KjNR5w7Z5CyxbR5FEzrm"
# py.sign_in(plotly_username, plotly_key)
data = [go.Histogram(x = daily_log_returns)]
py.iplot(data, filename = 'Histograma basico')